@model SpeakerDetails
@{
    ViewBag.Title = Model.Speaker.FullName;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<a href="/speakers/" title="Повернутися у список усіх доповідачів">Усі доповідачі</a>
<h2><a href="/speakers/@Model.Speaker.Id/">@Model.Speaker.FullName</a></h2>
<ul class="breadcrumb">
	<li><em>@Model.Speaker.ShortAbout</em></li>
</ul>

<div class="row" style="min-height: 150px">			
	<blockquote>
        @if (@Model.Speaker.CanRenderAvatar()){
		    <img style="float: right; margin:10px; max-width:150px" src="@Model.Speaker.GetAvatarLink(150)" alt="@Model.Speaker.FullName" />
        }
		@Html.Raw(@Model.Speaker.Bio.RenderMarkdown())
	</blockquote>	
</div>
<div class="row">
@if (@Model.Speaker.Speaches != null && @Model.Speaker.Speaches.Length > 0){
<h3>Speaches</h3>
<ul>
@foreach(var speach in @Model.Speaker.Speaches){
    <li><a href="@speach.AnnounceLink">@speach.Title</a></li>    
}
</ul>
}
</div>
<ul class="breadcrumb">
	<li><a href="@Model.Speaker.MainProfileURL">Home</a> <span class="divider">|</span></li>
    @if (@Model.Speaker.Twitter.IsDefined()){
    <li><a href="http://twitter.com/@Model.Speaker.Twitter" class="twitter">@Model.Speaker.Twitter</a> <span class="divider">|</span></li>
    }
    @if (@Model.Speaker.Email.IsDefined()){
    <li><a class="email" href="mailto:@Model.Speaker.Email">E-mail</a></li>
    }
</ul>