@{
    ViewBag.Title = "Доповідачі";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model SpeakersIndex

<div class="speakers">
@foreach(var speakers in @Model.Speakers.EachThree()){
    <div class="row">		
    @foreach (var speaker in speakers)
    {
        <div class="col-md-4">
            <div class="person-card">
                @if (@speaker.CanRenderAvatar())
                {
                    <img style="float: left; margin:5px; max-width:60px" class="img-thumbnail" src="@speaker.GetAvatarLink(60)" alt="@speaker.FullName" />
                }
                <h2><a href="/speakers/@speaker.Id/">@speaker.FullName</a></h2>
                <p>@speaker.ShortAbout</p>
                <ul class="breadcrumb">
                    <li><a href="@speaker.MainProfileURL">Home</a></li>
                    @if (speaker.Twitter.IsDefined())
                    {
                        <li><a href="http://twitter.com/@speaker.Twitter" class="twitter">@speaker.Twitter</a></li>
                    }
                    @if (speaker.Email.IsDefined())
                    {
                        <li><a class="email" href="mailto:@speaker.Email">E-mail</a></li>
                    }
                </ul>
            </div>
        </div>
    }
    </div>
}
</div>
